@font-face {
  font-family: 'Lato Regular';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: local('Lato Normal'),
       url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Lato Black';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: local('Lato Black'),
       url('../fonts/Lato-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Lato Black Italic';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: local('Lato Black Italic'),
       url('../fonts/Lato-BlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Lato Bold';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: local('Lato Bold'),
       url('../fonts/Lato-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Lato Bold Italic';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: local('Lato Bold Italic'),
       url('../fonts/Lato-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Lato Hairline';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: local('Lato Hairline'),
       url('../fonts/Lato-Hairline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Lato Hairline Italic';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: local('Lato Hairline Italic'),
       url('../fonts/Lato-HairlineItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Lato Heavy';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: local('Lato Heavy'),
       url('../fonts/Lato-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Lato Heavy Italic';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: local('Lato Heavy Italic'),
       url('../fonts/Lato-HeavyItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Lato Italic';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: local('Lato Italic'),
       url('../fonts/Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Lato Light';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: local('Lato Light'),
       url('../fonts/Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Lato Light Italic';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: local('Lato Light Italic'),
       url('../fonts/Lato-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Lato Medium';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: local('Lato Medium'),
       url('../fonts/Lato-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Lato Medium Italic';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: local('Lato Medium Italic'),
       url('../fonts/Lato-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Lato Semibold';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: local('Lato Semibold'),
       url('../fonts/Lato-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Lato Semibold Italic';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: local('Lato Semibold Italic'),
       url('../fonts/Lato-SemibolItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Lato Thin';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: local('Lato Thin'),
       url('../fonts/Lato-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Lato Thin Italic';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: local('Lato Thin Italic'),
       url('../fonts/Lato-ThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.font-regular{
	font-family: 'Lato Regular';
}

.font-black{
	font-family: 'Lato Black';
}

.font-black-italic{
	font-family: 'Lato Black Italic';
}

.font-bold{
	font-family: 'Lato Bold';
}

.font-bold-italic{
	font-family: 'Lato Bold Italic';
}

.font-hairline{
	font-family: 'Lato Hairline';
}

.font-hairline-italic{
	font-family: 'Lato Hairline Italic';
}

.font-heavy{
	font-family: 'Lato Heavy';
}

.font-heavy-italic{
	font-family: 'Lato Heavy Italic';
}

.font-italic{
	font-family: 'Lato Italic';
}

.font-light{
	font-family: 'Lato Light';
}

.font-light-italic{
	font-family: 'Lato Light Italic';
}

.font-medium{
	font-family: 'Lato Medium';
}

.font-medium-italic{
	font-family: 'Lato Medium Italic';
}

.font-semibold{
	font-family: 'Lato Semibold';
}

.font-semibold-italic{
	font-family: 'Lato Semibold Italic';
}

.font-thin{
	font-family: 'Lato Thin';
}

.font-thin-italic{
	font-family: 'Lato Thin Italic';
}
