/* BOOTSTRAP 3.x GLOBAL STYLES
-------------------------------------------------- */

/*html {
  position: relative;
}

body {
  color: #5a5a5a !important;
  margin: 0 !important;
  display: block !important;
  margin-bottom: 60px !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: #eaebec;
}*/

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 180px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
#myCarousel.carousel {
  /*margin-bottom: 60px;*/
}
/* Since positioning the image, we need to help out the caption */
#myCarousel.carousel-caption {
  z-index: 1;
}

/* Declare heights because of positioning of img element */
#myCarousel.carousel .item {
  background-color:#555;
}
#myCarousel.carousel img {
  top: 0;
  left: 0;
}

#myCarouselTweets .carousel-indicators .active{
  background-color: black !important;
}

.contenedor-imagenes{
  padding-right: 0px;
  padding-left: 0px;
}

.no-padding{
  padding-right: 0px;
  padding-left: 0px;
}

.padding-horizontal{
  padding-left: 10%;
  padding-right: 10%; 
}

.padding-vertical{
  padding-top: 10%;
  padding-bottom: 10%; 
}

.btn-contact {
  color: white;
  background-color: #04D1FA;
  border-color: #07A9C9; 
}
.btn-contact:hover,.btn-contact:active, .btn-contact:select  {
  color: black;
  background-color: #04D1FA;
  border-color: black; 
}

.background-input-contact{
  background-color: #DDDDDD;
  color: black;
}

.top-bar-custom{
  background-color: transparent !important;
  border-color: transparent !important;
  -webkit-transition-duration: 1s; /* Safari */
  -moz-transition-duration: 1s;
  transition-duration: 1s;
}

.top-bar-change{
  background-color: white !important;
  border-color: white !important;
  box-shadow: 10px 0px 20px gray;
  -moz-box-shadow: 10px 0px 20px gray;
  -webkit-box-shadow: 10px 0px 20px gray;

  -webkit-transition-duration: 1s; /* Safari */
  -moz-transition-duration: 1s;
  transition-duration: 1s;
}

.top-bar-change .nav-list-elements-custom > li > a {
  color: black !important;
  -webkit-transition-duration: 1s; /* Safari */
  -moz-transition-duration: 1s;
  transition-duration: 1s;

}

.menu-option-custom > a {
  text-shadow: 0 0 2px white;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 0px;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .top-bar-custom{
    background-color: transparent !important;
    border-color: transparent !important;
  }

  .menu-option-custom{
    float: none !important; 
    display: inline-block !important;
  }

  .nav-list-elements-custom{
     width: 100%; 
     text-align: center;
  }

  .parrafo{
    font-size: 18px;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 240px;
    background-color: #f5f5f5;
  }

  #icono-direccion-footer{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px; 
  }

  #direccion-footer{
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
  }

  #section-contacto{
    background-color: #ffffff; 
    min-height: 250px; 
    margin-bottom: 280px; 
    padding-top: 5%;
  }

  #button-galeria{
    width: 15%; 
    color: white; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 0; 
    background-color: #676767; 
    border-color: white; 
    border-width: 1px;
  }
  #logo-navbar{
    height: 80px;
  }
  .imagen-bottom-div {
    display: none;
    animation: ease-out;
     -webkit-animation-duration: 1s; /* Safari */
    -moz-animation-duration: 1s;
    animation-duration: 1s;
  }

  .div-with-content{
    height: 100%; width: 50%;
    position: block;
  }

  #imagen-left-section-3{
    position: block;
  }

  #iconos-social-footer{
    margin-top: 1% !important;
    padding-bottom: 10px;
  }
}

/* Ajuste para moviles  */

@media(max-width: 767px){
  
  .padding-horizontal{
    padding-left: 5%;
    padding-right: 5%; 
  }

  .padding-vertical{
    padding-top: 5%;
    padding-bottom: 5%; 
  }

  #direccion-footer{
    margin-left: 0 !important;
    text-align: center;
  }

  #icono-direccion-footer{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
  }
  #iconos-social-footer{
    margin-top: 1% !important;
    padding-bottom: 10px;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 250px;
    background-color: #f5f5f5;
  }

  #section-contacto{
    background-color: #ffffff; 
    min-height: 250px; 
    margin-bottom: 280px; 
    padding-top: 10%;
  }

  #button-galeria{
    width: 50%; 
    color: white; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 0; 
    background-color: #676767; 
    border-color: white; 
    border-width: 1px;
  }

  #mainNav{
    background-color: white !important;

  }

  #mainNav .nav-list-elements-custom > li > a {
    color: black !important;
  }

  .div-with-content-right{
    height: 100%; 
    width: 100%;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
  }

  #imagen-bottom-1{
    position: block; 
    width: 100%;
  }

  #imagen-bottom-2{
    position: block; 
    width: 100%;
  }

  #imagen-bottom-3{
    position: block; 
    width: 100%;
  }

  .div-with-content-center{
    padding-left: 1%; 
    padding-right: 3%;
    height: 100%;
    position: relative;
  }

}

@media(min-width: 992px){
  #logo-navbar{
    height: 120px;
  }

  .div-with-content-right{
    height: 100%;
    width: 50%;
    position: block;
    right: 0;
  }

  .div-with-content-left{
    height: 100%;
    width: 50%;
    position: relative;
    left: 0;
  }

  .div-with-content-center{
    padding-left: 1%; 
    padding-right: 3%;
    height: 100%;
    position: relative;
  }

  #imagen-bottom-1{
    position: relative; 
    margin-left: -15px; 
    width: 100%;
  }

  #imagen-bottom-2{
    position: relative; 
    margin-left: -15px; 
    width: 100%;
  }

  #imagen-bottom-3{
    bottom: 0; 
    position: absolute; 
    margin-left: -10px; 
    width: 100%;
  }

  #imagen-section-two{
    margin-left: 0;
  }

  #icono-direccion-footer{
    display: block;
    margin-right: 0;
    margin-bottom: 10px; 
  }


  #iconos-social-footer{
    margin-top: 18%;
  }  

  #iconos-social-footer{
    margin-top: 35% !important;
  }

  #direccion-footer{
    margin-top: 5%;
    text-align: left;
  }
}

@media(min-width: 1200px){

  .div-with-content-right{
    height: 100%; 
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
  }

  .div-with-content-left{
    height: 100%; 
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .div-with-content-center{
    padding-left: 1%; 
    padding-right: 3%;
    height: 100%;
    position: absolute;
    margin-left: 33.3%;
    top: 0;
  }

  #imagen-section-two{
    margin-left: 50%;
  }

  #imagen-bottom-1{
    bottom: 0; 
    position: absolute; 
    margin-left: -15px; 
    width: 100%;
  }

  #imagen-bottom-2{
    bottom: 0; 
    position: absolute; 
    margin-left: -15px; 
    width: 100%;
  }

  #imagen-bottom-3{
    bottom: 0; 
    position: absolute; 
    margin-left: -15px; 
    width: 100%;
  }
  #imagen-left-section-3{
    position: absolute;
    right: 0;
  }

  #icono-direccion-footer{
    display: block;
    margin-right: 0;
    margin-bottom: 10px; 
  }

  #iconos-social-footer{
    margin-top: 25% !important;
  }

  #direccion-footer{
    margin-top: 5%;
    text-align: left;
  }
}
